{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3 my-5">
            <h4 class="alert-heading">Well Done!!</h4>
            <p>Your Password has been reset.</p>
            <div> <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" class="giphy-embed"
                    frameborder="0" allowfullscreen> </iframe></div>

        </div>
    </div>
</div>
{% endblock main-content %}